@import "~bootstrap/scss/bootstrap";


.body {
  background-color: #efefef;
  font-family: 'roboto';
}

.form-select {
  background-color: #efefef;
  width: auto;
}

.form-control {
  background-color: #efefef;
}

h2 {
  padding-top: 1rem;
  text-align: center;
}

.product-container {
  padding-top: 0.5rem;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-bottom: 1rem;

  > div {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > div:nth-child(8),
  > div:last-child {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  > div:nth-child(5),
  > div:nth-child(6),
  > div:nth-child(7),
  {
    > input {
      pointer-events: none;
      background-color: #c5c3c3;
    }
  }

  .product-list {
    > div {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }
  }
}

.error {
  border: 1px solid red;
}

.fa-xmark.fa-solid.delete-product-icon {
  font-size: 40px;
  cursor: pointer;
  padding: 0.5rem;
  display: none;
}

.wrapper__form {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.form__select_client_list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-right: 8rem;
}

.form__user_and_client_data_container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.user_client_container {
  display: flex;
  gap: 20vw;
}

.user_and_client_data_container__user_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.user_container__user_data, .user_container__client_data {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.user_data__user_inputs {
  display: flex;
  margin-top: 0.3rem;
  flex-direction: column;
}

.create_invoice_inputs {
  display: block;
  text-align: center;
}

.create_invoice_user_client_inputs_containers {
  display: flex;
  margin-top: 0.3rem;
  flex-direction: column;
}

.user_and_client_data_container__client_container {
  border-radius: 0.25rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  width: 40%;
}

.wrapper__form__dates_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.form__dates_header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.form__dates_container {
  width: 90%;
}

.dates_container__dates_inputs {
  display: flex;
  text-align: center;
  padding-top: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  gap: 2rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.dates_inputs__input_containers {
  display: flex;
  flex-direction: column;
}

.form__products_list {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.products_list__header_button {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  position: relative;
}

.header_select__header_container {
  width: 45%;
  display: flex;
  justify-content: flex-end;
  margin-left: 15rem;
}

.header_button__button_container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

#add-product-button {
  height: 60%;
  align-self: center;
}

.form__submit_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;

  > button {
    padding: 0.5rem 5rem;
  }
}

.single-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;

  > form {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    width: 25%;
    padding: 2rem;
  }
}

.table {
  width: 75%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.table-container {
  height: 30vh;
}

.btn-add {
  margin-bottom: 1rem;
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';